VITE_SUPABASE_URL=https://supabase.com/dashboard/project/enjouiokasdunkqcmddc
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVuam91aW9rYXNkdW5rcWNtZGRjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0NzM0ODMsImV4cCI6MjA5ODA0OTQ4M30.C5TO6ThuPC53XIqciJyj_DoKk_Z2yZpY17PIjmMPtRI
